.na{
   margin-bottom: 5vh;
   margin-right: 5vw;
   padding-left: 3vw;
   margin-top: 60vh;
}
.ca{
    margin-bottom: 70vh;
    margin-left: 40vw;
}
.si{
    margin-top: 30vh;
}
.fl{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}